*{
       margin: 0;
       padding: 0;
}
body{
       width: 100vw;
       font-family: 'Open Sans', sans-serif;
}
/* header style start */
.header-section{
       background-color: rgba(229, 84, 115, 0.10);
}
.header-container{
       display: flex;
        justify-content: space-between;
        align-items: center;
}
.header-img{
       width: 435px;
       height: 600px;
}
.header-titel-area{
       margin: 197px 80px 190px 160px;
}
.header-img-section{
       margin: 50px 120px 0 0px;
}
.header-titel{
       font-size:50px;
       font-weight: bold;
       padding-bottom: 30px;
}
.word-color{
       color: #E55473;
}
.header-description{
       color: rgba(39, 39, 39, 0.60);
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
}
.primary-btn{
       color: white;
       background-color: #E55473;
       padding: 10px 16px;
       border: none;
       margin: 15px 15px 15px 0;
       padding: 10px 15px;
       border-radius: 3px;
}

/* menu style start */
.featured-section{
       text-align: center;
       margin: 80px auto 0 auto;
}
.featured-section-titel{
       font-size:40px;
       font-weight: bold;
       padding-bottom: 30px;
}
.featured-description{
       color: rgba(39, 39, 39, 0.60);
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
}
.featured-card-container{
       display: flex;
       justify-content: center;
       gap: 35px;
       margin: 50px 110px 0 110px;
}
.featured-card {
       width: 380px;
       height: 420px;
       padding: 50px 35px 0 35px;
        border-radius: 300px 300px 0px 0px; 
}
.featured-card img{
       width: 100%;
       height: 100%;     
}
.card-a{
       background: rgba(167, 33, 98, 0.15);
}
.card-b{
       background: rgba(5, 151, 160, 0.15);
}
.card-c{
       background: rgba(71, 125, 17, 0.15);
}
/* featured style start */
.featured-card-link{
       display: flex;
       justify-content: center;
       text-decoration: underline;
}
.card-link{
       width: 380px;
       height: 20px;
       padding: 20px;
}

/* support section start */

.delivery-information-section{
       display: flex;
       justify-content: space-around;
       border-radius: 8px;
       background: rgba(39, 39, 39, 0.05);
       margin:100px 110px 80px 110px;
       padding: 30px ;
}
.delivery-information{
       text-align: center;
}
.delivery-information p{
       color: rgba(39, 39, 39, 0.80);
}
/* offer section start */

.offer-container{
       border-radius: 8px;
       background: rgba(229, 84, 115, 0.05);
       display: flex;
       justify-content: center;
       align-items: center;
}
.offer-detail{
       text-align: center;
       margin-right: 150px;
}
.offer-titel{
       color: #272727;
       font-size: 40px;
       font-weight: 800;
       padding: 15px;
}
.offer-description{
       color: rgba(39, 39, 39, 0.60);
       text-align: center;
       padding: 15px;
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
}
.button{
       color: white;
       background-color: #E55473;
       padding: 10px 15px;
       border: none;
       margin: 15px 15px 15px 0;
      border-radius: 3px;
}
.offer-img{
       padding: 50px;
}

/* card section style start */
.card-section{
       width: 100vw;
}     
.card-titel{
       color: #272727;
       text-align: center;
       font-size: 40px;;
       font-weight: 800;
       margin-top: 80px;
       padding: 15px;
}
.card-description{
       color: rgba(39, 39, 39, 0.60);
       text-align: center;
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
       margin: 20px;
 }
.card-container{
       display: flex;
       justify-content: space-around;
       gap: 10px; 
       margin: 0 110px 0 110px;
} 
.card{
       height: 320px;
       width: 280px;
       border-radius: 5px;
       margin-top: 40px;
}
.card img{
       width: 100%;
       height: 100%;
}
/* user information section started */
.user-nform{
       text-align: center;
       margin: 80px 110px 80px 110px;
       background-image: url('./Rectangle\ 9.png');
       height: 400px;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       align-items: center;
       justify-content: center;
}
.user-inform h2{
       color: #272727;
       font-size: 40px;;
       font-weight: 800;
       padding-top: 35px;
}
.user-inform p{
       font-size: 18px;
       font-weight: 300; 
       padding: 15px 0 35px 0;
       color: rgba(39, 39, 39, 0.60);
}    
#email{
       padding: 10px 300px 10px 10px;
       border: none;
       border-radius: 2px;
       color: rgba(39, 39, 39, 0.60);
}
.button-a{
       background-color: #E55473;
       padding: 10px 15px ;
       margin-left: 20px;
       border: none;
       border-radius: 3px;
       color: white;
}
/* extra section */
.bonus-section{
       display: flex;
       gap: 40px;
       justify-content: center;
       text-align: center;
       height:80vh;
       flex-direction: row-reverse;
}
.feedback-titel{
       margin-top: 60px;
}
.feedback-titel h2{
       color: #272727;
       font-size: 40px;
       font-weight: 800;
       padding: 15px;
}
.feedback-titel p{
       color: rgba(39, 39, 39, 0.60);
       text-align: center;
       padding: 15px;
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
}
.customer-pic{
       width: 280px;
       height: 100px;
       margin-top: 80px;     
}
.customer-pic img{
       width: 100%;
       border-radius: 50%;
       
}
.buttonB{
       background-color: #E55473;
       color: white;
       border-radius: 3px;
       padding: 10px 12px;
       border: none;
       margin: 10px auto;
}
/* footer section start */
footer{
       height: 400px;
       background-color: black;
       color: white;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
}
.footer-section h2{
       font-size: 48px;
       font-weight: 800;
       padding: 15px;
}
.footer-section p{
       color: rgba(255, 255, 255, 0.90);
       font-size: 18px;
       font-weight: 300;
       line-height: 26px;
       margin: 10px 0 35px 0;
}